
body{
    background-color: green;
    font-family: sans-serif;
}

.container {
    width: 800px;
    margin: 30px;
    color: orange;
    text-align: center;
}
h1,h2 {
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size:2,6em;
    text-transform: uppercase;
    text-align: center;
}
#secunde, #zecimi {
    font-size: 2em;
    text-align: center;
}

button{
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}